.review-wrapper{
	
	display:flex;
}

.review-list {
	position:relative;
	padding:0px;
	width:100%;
	margin: 0px;
}

.review-item {
	list-style: none;
	display:flex;
	
	padding-bottom: 24px;
}

.review-item .preview {
	padding-right:8px;
    height: 238px;
    width: 238px;
    
    flex-shrink: 0;

}

.review-item .preview img {
	width:100%;
	height:100%;
}

.review-item .contents{
	flex-grow:1;
    width: calc(100% - 238px);
    
}

.review-item .contents .review-content {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 50px;
    
}
.review-item .contents .review-content .review {
}

.review-item .contents .review-title{
	margin-bottom: 10px;
	font-size:24px;
}

.review-container{
	
	padding-left: 20px;
}